/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


 /*Styles*/

 h1{

  /*font-family: 'Petit Formal Script', cursive;
  color: #4a4a4a;*/
  
}

h2{
  /*font-family: 'Playball', cursive;
  font-family: 'Berkshire Swash', cursive;
  font-family: 'Calligraffitti', cursive;*/
}

body{
  -moz-transition: none !important;
  -webkit-transition: none !important;
  -o-transition: none !important;
  -ms-transition: none !important;
  transition: none !important;
}

.section {
  padding-top: 1rem;
  padding-bottom: 0rem;
}

/* Section's Fonts */
.title-section{
  font-family: 'Cookie', cursive;
  font-size: 4.3rem;
  margin-top: 0%;
  margin-bottom: 0%;
}

/*Nav Styles*/

nav{
  z-index: 997;
  position: fixed;
  width: 100%;
  top: 0;
}

nav ul{
  margin-right: -5%;
}

#logo-container{
  font-family: 'Petit Formal Script', cursive;
  color: #4a4a4a;
}

nav ul a,
nav .brand-logo {
  color: #444;
}

.container {
  width: 90%;
}

nav .brand-logo {

  font-size: 3vw;
}


/**/
p {
  line-height: 2rem;
}

.nav-wrapper, .container > a {
  transition: all 0.2s ease-in-out, color 0.2s ease-in-out;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 200px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
  font-weight: 300;
  color: #4db6ac !important;
}
.parallax-container .section {
  width: 100%;
}

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}



/*Habitaciones*/

#habitaciones{
 padding: 0% 0% 0% 0%;
}
/*Room Gallery Styles*/

.activator > img {
 height: 10px;
 width: 10px;
}

.card .card-image .card-title {
  right: 0;
}

.card .card-content {
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 0 0 2px 2px;
}

/*Parallax Container styles*/

#presentacion{
  margin-top: 320px;
  font-size: 5em;
}
.parallax-container {
  min-height: 490px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

.titulos-parallax{
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#virgen-img{

  background-size: cover;
  display: block;
  transform: translate3d(-50%, 100px, 0px);
}

/*google maps iframe*/
iframe {
  position: relative;
  left: 0;
  width: 100% !important;
  /*height: 100% !important;*/
}

footer.page-footer {
  margin: 0;
}